<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax_Flask 專案</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>

    </style>
</head>

<body>
    {% include '_navbar.html' %}
    <div class="container">


        <div class="container mt-5">
            <!-- <div class="row justify-content-center"> -->
            <button id="buttonStart" class="btn btn-primary">Ajax 開始</button>
            <button id="buttonEnd" class="btn btn-primary">Ajax 結束</button>
            <img id="img1" src="./static/images/Loading.gif" style="display: none;" alt="載入中..." />


            <div id="divInfo" class="alert mt-5"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        const divInfo = document.querySelector('#divInfo');
        const imgLoader = document.querySelector('#img1');
        const btnStart = document.querySelector('#buttonStart');



        // function hi(){

        //}
        //(a, b)=>{}


        btnStart.addEventListener('click', () => {
            const apiUrl = "http://127.0.0.1:5000/api/hello";
            fetch(apiUrl)
                .then(res => {
                    // console.log(res);
                    // console.log(res.headers.get('Content-type'));
                    // console.log(res.headers.get('Content-Length'));
                    // console.log(res.sta);
                    // console.log(res.ok);
                    // console.log(res.body);
                    // console.log(res.json()); // 讀取 body 中 json 格式的資料，回傳的又是一個 promise 物件
                    return res.json();
                })
                .then(data => {
                    console.log(data);
                })
        })




        // // callback 回呼 => 非同步
        // setTimeout(function () {
        //     //傳送訊息給A
        //     console.log("A");
        // }, 1000);
        // setTimeout(function () {
        //     console.log("B");
        // }, 1000);
        // setTimeout(function () {
        //     console.log("C");
        // }, 1000);


        // // ()=>{} 箭頭函式 = function(){}
        // btnStart.addEventListener('click', () => {
        //     console.log('click');
        // })

        //callback 回呼 => 非同步
        // setTimeout(function () {
        //     //傳送訊息給A
        //     console.log('A');
        //     setTimeout(function () {
        //         //傳送訊息給B
        //         console.log('B');
        //         setTimeout(function () {
        //             //傳送訊息給C
        //             console.log('C');
        //             setTimeout(function () {
        //                 //傳送訊息給C
        //                 console.log('D');
        //             }, 1000);
        //         }, 1000);
        //     }, 1000);

        // }, 1000);


        // promise
        //     .then(() => {
        //         console.log('A')
        //     })
        //     .then(() => {
        //         console.lo('B')
        //     })
        //     .then(() => {
        //         console.log('C')
        //     })
        //     .then(() => {
        //         console.log('D')
        //     })




        // // 建立Promise物件
        // const promise = new Promise((resolve, reject) => {
        //     // 非同步程式碼寫在裡面
        //     if (true) {
        //         resolve("成功!");
        //     } else {
        //         reject("失敗!")
        //     }
        // })
        // // promise 物件使用
        // console.log(promise);
        // promise.then(data => console.log(data))
        //     .catch(error => console.log(err))
        //     .finally(() => console.log("End"));



        // function printSomething(data) {
        //     const promise = new Promise((resolve, reject) => {
        //         setTimeout(() => {
        //             resolve(data);
        //         }, 1000);
        //     });
        //     return promise;
        // }
        // console.log(printSomething("A!"));



        // printSomething("A!")    //會得到一個 Promise 物件
        //     .then(data => {
        //         console.log(data);
        //         return printSomething("B!");
        //     })
        //     .then(data => {
        //         console.log(data);
        //         return printSomething("C!");
        //     })
        //     .then(data => {
        //         console.log(data);
        //         return printSomething("D!");
        //     })
        //     .then(data => {
        //         console.log(data);
        //     });


        // //async / await
        // async function callPromise() {
        //     let result = await printSomething("A!")
        //     console.log(result);
        //     result = await printSomething("B!")
        //     console.log(result);
        //     result = await printSomething("C!")
        //     console.log(result);
        //     result = await printSomething("D!")
        //     console.log(result);
        // }
        // callPromise();




        // async function demo() {
        //     let data = await show("A");
        //     console.log(data);
        //     data = await show("B");
        //     console.log(data);
        //     data = await show("C");
        //     console.log(data);
        //     data = await show("D");
        //     console.log(data);
        // }


        // ()=>{} 箭頭函式
        // btnStart.addEventListener('click', () => {
        //     console.log('click');
        // })


    </script>
</body>

</html>